<ul class="menual" style="padding-left: 0;">
    <h3>{{user}} 사원님 입사를 환영합니다. </h3>
        
        <li><span><b> - </b> 글로컬 드림 아카데미는 구글 드라이브와 나스(웹 폴더)를 통해 해당연도 파일을 관리합니다. <br>&nbsp 구글 메일이 없을 경우 만들어 주세요. </span></li>
        
        <li><span><b></b> </span></li>
</ul>
<ul class="menual" style="padding-left: 0">
    <h3>드림웨어(DreamWare)</h3>
        
        <li><span><b> - </b> 드림웨어는 글로컬 드림 아카데미의 사내 사이트 입니다.<span></li>
        <li><span><b> - </b> 드림웨어 기능</span> 
            <ul>  
                <li>1. <a href=""> 출퇴근 관리 (모바일에서만 가능)</a></li> 
                <li>2. <a href="{% url 'notice:list' %}"> 공지사항 쓰기 및 읽기</a> </li>
                <li>3. <a href="{% url 'project:list' %}"> 프로젝트 전달 및 관리</a></li>
                <li>4. <a href="{% url 'todo_list:todolist' %}"> 개인 To Do List 사용 및 팀별 투두리스트 열람</a></li>
                <li>5. <a href="{% url 'accounts:org' %}"> 조직도(사원정보) 열람</a></li>
                <li>6. <a href="{% url 'annual:new' %}"> 연차 신청 및 결재</a></li>
                <li>7. <a href="{% url 'filemenual' %}"> NAS 및 google drive 들어가기</a></li>

            </ul>  
        </li>

        <li><h4>첫 로그인 시</h4>
            <ul>
                <li><p> <b>비밀번호 변경</b>  - 왼쪽 메뉴의 프로필 이미지를 클릭 &rarr; ( 개인정보수정 > 비밀번호 변경 ) 초기 비밀번호 변경</p></li>   
                <li><p> <b>알림 설정 </b>  - 왼쪽 메뉴의 프로필 이미지를 클릭 &rarr; 알림설정방법 클릭 후  Access Token 추가</p> </li>   
            </ul>
        </li>
        <li><h4>출퇴근 관리</h4> 
            <ul>
                <li><p> 1. 출퇴근 부는 반드시 당일의 해당 시간에 입력해주세요</p></li>
                <li><p> 2. 반차의 경우 당일 퇴근 전까지 반차, 출근, 퇴근을 입력하셔야 됩니다.</p></li>
                <li><p> 3. 외근 시 반드시 해당 근무지에서 외근 입력해주세요.</p></li>
                <li><p> 4. 결근과 연차는 본인이 입력하지 않으셔도 됩니다.</p</li>
            </ul>
        </li>
        <li><h4>연차 신청 및 결재 과정</h4> 
            <ul>
                <li><p> 1. 휴가원 우측상단에 본인의 남은 연차개수 확인 후 신청해주세요.</p></li>
                <li><p> 2. 연차는 기본적으로 미리 사용할 수는 없으나, 부득이한 경우 팀장, 사무국장, 센터장의 승인을 받은 후 사용할 수 있습니다. </br>&emsp;  이 경우 발생할 연차 혹은 차년도의 연차에서 차감됩니다.</p></li>
                <li><p> 3. 휴가 기간 선택 후, 해당 기간에 맞는 휴가 일수를 작성해주세요.</p></li>
                <li><p> 4. 휴가 구분은 연차, 대체 휴무, 기타 중에서 선택하시면 됩니다. </br>&emsp;  반차 사용 시에는 연차 선택 후 휴가일수를 0.5일로 작성해주세요. </br>&emsp; 예비군, 무급휴가 등의 사유로 연차 사용을 하실 경우 기타 선택 후 입력창에 예비군 또는 무급휴가로 작성해주세요. </p></li>
                <li><p> 5. 휴가 사유와 휴가 예상 지역을 작성해주세요.</p></li>
                <li><p> 6. 비상 연락망은 해당 연락처와의 관계(ex·부모님, 배우자 등)를 꼭 작성해주세요.</p></li>
                <li><p> 7. 비고란에는 부재중 업무대행자 및 관련 내용을 구체적으로 작성해주세요.</p></li>
                <li><p> 8. 휴가원 작성 후 제출 시 결재 대기 상태로 등록되며 상위 결재자에게 푸시알림이 전송됩니다. </p></li>
                <li><p> 9. 연차 결재는 해당 팀의 팀장만 가능하며 사무국장, 센터장 결재는 팀 구분 없이 가능합니다. </p></li>
                <li><p>10. 연차 승인 또는 취소가 되었을경우 신청자 본인에게 푸시알림이 전송됩니다.</p></li>
                <li><p>11. 센터장 승인까지 완료되었더라도 부득이한 경우 취소할 수 있습니다</p></li>

                
            </ul>
        </li>

</ul>


















