<div class="row" style="background-color: #fafafa;">
    <div class="col-lg-12 detailed" style="overflow-y:scroll; height:20em;">
        <div id="overview" class="tab-pane active">
            <div class="row">
                <div class=" col-lg-12  detailed">
                    <p>
                        <br>
                        &nbsp;본 약관은 (사)글로컬드림아카데미(이하 "회사")로부터 제공된 모든 정보에 대하여 비밀을 유지할 의무를 명시하기 위함입니다.
                        <br>
                        <br>본 약관에서 “비밀정보”라 함은 회사 재직 시 제공받은 정보 또는 작성된 문서(전자문서 포함)와 구두로 전달한 모든 정보를 포함한 업무 중 취득한
                        정보를 총체적으로 의미합니다.
                        <br><br>본인은 회사 재직 시 취득한 비밀정보를 제3자에게 제공하거나 창업, 경쟁 관계에 있는 타사를 위해 사용하지 않을 것에 동의하며, 정보 유출로 인해
                        회사가 입게 되는 손해에 대하여 민∙형사상의 책임을 감수하겠습니다.
                        <br><br>본인은 퇴직과 동시에 재직기간에 가지고 있던 회사의 영업비밀이 기록된 일체의 자료를 반납하겠으며, 퇴직 후 1년 이내 귀사의 서면 동의 없이 귀사의 영업비밀이
                        운용될 수 있는 동종 경쟁사에 취업하지 않겠습니다.
                        <br><br>본인은 귀사 퇴직 후 1년 이내에 귀사의 임직원이 귀사를 이직하거나 귀사와의 고용관계 등 일체의 계약을 위반하도록 직/간접적으로 유인, 권유 또는 조장하지
                        않을 것이며, 또한 귀사의 임직원을 직접 또는 다른 사람이나 법인을 대리하여 귀사의 고객이나 거래업체, 귀사와의 계약을 해지하거나 위반하도록 직/간접적으로 유인, 권유 또는
                        조장하지 않을 것입니다.
                        <br><br>본인은 상기 내용을 이해하며 만일 서약사항을 위반하였을 경우, 부정경쟁방지 및 영업비밀보호법 제11조 (영업비밀 침해행위에 대한 손해배상 책임) 및 제12조
                        (영업비밀 보유자의 신용회복)와 기타 관련법 규정에 의거 손해배상 할 것을 약속합니다.
                        <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="agree">
    <input type='radio' name='agree2' value='ok2' id="ok2" /> 동의함
    <input type='radio' name='agree2' value='no' /> 동의하지 않음
</div>